[build]
entrypoint = "./tmp/main.exe"
cmd = "go build -o ./tmp/main.exe ."
delay = 2000
exclude_dir = ["assets", "tmp", "vendor", "testdata", "static", "volumes"]
include_ext = ["go", "tpl", "tmpl", "html"]
log = "build-errors.log"
poll = false
poll_interval = 0
rerun = true
rerun_delay = 2000
send_interrupt = true
stop_on_error = true

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
main_only = false
time = false

[misc]
clean_on_exit = false

[screen]
clear_on_rebuild = false
keep_scroll = true
